body{
    background-color: #CECECE;
   
}
nav{
    font-family: "Roboto";
}
.container {

    width: 50%; /* Set the width of the container */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 100px;
    
        width: 200px;
        height: 100px;
}
p{
    font-size: 50px;
    font-family: "Roboto";
    margin :0;
}


 img{
    margin-right:2%;
   float:right; 
   width:574px;
   height: 374px;	
   } 
   .diet-photo{
        position: absolute;
        top:550px;
        box-align:left;

        margin-left: 125px;
        width: 300px;
        height: 250px;
        margin-left: 120px;


    }
    button{
        margin-top: 10px;
        background-color: #FF6060;
        color :white;
        border-radius: 50%;
    }