<!DOCTYPE html>
<html>
    <head>
        <title>location page</title>
        <link rel="stylesheet" href="feed_me.css" >
    </head>
    <body>
        <form>
            <label for="location">Enter your location:</label>
            <input type="text" id="location" name="location">
            <button type="submit" onclick="getLocation()">Submit</button>
          </form>

          <button onclick="getLocation()" class="current-location">Get Location</button>
          <p id="location"></p>

          <script type="text/javascript" src="feed_me.js" charset="utf-8"></script>
    </body>
</html>