<!DOCTYPE html>
<html>
    <head>
        <title>NutriNav</title>
        <link rel="stylesheet" href="static/css/home.css" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body style="background-color:#CECECE" >
        <nav class="navbar navbar-expand-md navbar-light bg-light" style="padding: 0">
            <div class="container-fluid" style="background-color: #CECECE" >
              <a class="navbar-brand" href="#">
                NutriNav
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  {% if session %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('feed_me') }}">Feed Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                  </li>
                  <li class="nav-item">
                    <button>Sign up</button>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </nav>
        <div class="container">
            <p>Get <br>personalized diet<br>recommendations <br>based on your<br> needs and preferences.</p>
        </div>
        <img src="static/img/5.jpg" alt="diet-img">

        <div>
            <img src = "static/img/4.jpg" alt ="cocah-img" class = "diet-photo">
        </div>
        
    </body>
</html>